.list-group-item {
    margin: 5px 0;
    padding: 0;
}

.bg-custom {
    background-color: #6183ff;
}

.delete {
    border-right: 1px solid grey;
    border-radius: 0;
}

.like {
    border-left: 1px solid grey;
    border-radius: 0;
}