<div class="container d-flex justify-content-center align-items-center pt-5 pb-5">
    <h2>Insert a new track</h2>
</div> 

<form class="container-sm pb-5"
        style="max-width: 550px;"
        [formGroup]="trackForm"
        (ngSubmit)="onSubmit()">

    <input type="hidden" formControlName="albumId">

    <div class="mb-3">
        <label for="name" 
                class="form-label">
                Track name
        </label>
        <input type="text"
                class="form-control"
                id="name"
                placeholder="My new song name"
                formControlName="name">
    </div>

    <!-- name validation -->
    <div *ngIf="trackForm.controls['name'].invalid && (trackForm.controls['name'].dirty || trackForm.controls['name'].touched)"
    class="alert alert-danger p-1 fs-s">
        <div *ngIf="trackForm.controls['name'].errors?.['required']">
                Name is required.
        </div>
        <div *ngIf="trackForm.controls['name'].errors?.['maxlength']">
                Name must be 255 characters long at maximum.
        </div>
    </div>

    <div class="mb-3">
        <label for="length" 
                class="form-label">
                Length (in seconds)
        </label>
        <input type="number"
                class="form-control"
                id="length"
                placeholder="i.e. write 210 for a 3m30s song"
                formControlName="lengthInSeconds">
    </div>

    <!-- lengthInSeconds validation -->
    <div *ngIf="trackForm.controls['lengthInSeconds'].invalid && (trackForm.controls['lengthInSeconds'].dirty || trackForm.controls['lengthInSeconds'].touched)"
    class="alert alert-danger p-1 fs-s">
        <div *ngIf="trackForm.controls['lengthInSeconds'].errors?.['required']">
                Length is required.
        </div>
        <div *ngIf="trackForm.controls['lengthInSeconds'].errors?.['min']">
                Length should be at least 1 second.
        </div>
    </div>

    <div class="mb-3">
        <label for="album-position" 
                class="form-label">
                Track position in album
        </label>
        <input type="text"
                class="form-control"
                id="album-position"
                formControlName="albumPosition">
    </div>

    <!-- albumPosition validation -->
    <div *ngIf="trackForm.controls['albumPosition'].invalid && (trackForm.controls['albumPosition'].dirty || trackForm.controls['albumPosition'].touched)"
    class="alert alert-danger p-1 fs-s">
        <div *ngIf="trackForm.controls['albumPosition'].errors?.['required']">
                Album position is required.
        </div>
        <div *ngIf="trackForm.controls['albumPosition'].errors?.['min']">
                Album position should be at least 1.
        </div>
    </div>

    <label for="video-url"
            class="form-label">
            Youtube video URL
    </label>
    <div class="input-group mb-3">
        <span class="input-group-text"
            id="basic-addon3">
            https://www.youtube.com/watch?v= 
        </span>
        <input type="text"
            class="form-control" 
            id="video-url" 
            aria-describedby="basic-addon3"
            formControlName="videoUrl">
    </div>

    <!-- videoUrl validation -->
    <div *ngIf="trackForm.controls['videoUrl'].invalid && (trackForm.controls['videoUrl'].dirty || trackForm.controls['videoUrl'].touched)"
    class="alert alert-danger p-1 fs-s">
        <div *ngIf="trackForm.controls['videoUrl'].errors?.['required']">
                Video URL is required.
        </div>
        <!-- <div *ngIf="trackForm.controls['videoUrl'].errors?.['pattern']">
                Link should not contain spaces nor special characters.
        </div> -->
        <div *ngIf="trackForm.controls['videoUrl'].errors?.['maxlength']">
                Link must be 255 characters long at maximum.
        </div>
    </div>
    <div *ngIf="trackForm.controls['videoUrl'].touched">
        <div class="alert alert-primary p-1 fs-s" role="alert">
                Host freely your video on <a href="https://y2u.be/" class="alert-link" target="_blank">y2u</a>.
            <br>Paste the characters following the slash in the above field.
        </div>
    </div>

    <button type="submit"
            class="btn btn-outline-primary"
            [disabled]="trackForm.pristine || trackForm.invalid">Add a new track</button>

</form>