<div class="container d-flex justify-content-center align-items-center pt-5 pb-5">
    <h2>Insert a new artist</h2>
</div> 

<form class="container-sm"
        style="max-width: 550px;"
        [formGroup]="artistForm"
        (ngSubmit)="onSubmit()">

    <div class="mb-3">
        <label for="name" 
                class="form-label">
                Artist name
        </label>
        <input type="text"
                class="form-control"
                id="name"
                placeholder="My amazing artist name"
                formControlName="name">
    </div>

    <!-- name validation -->
    <div *ngIf="artistForm.controls['name'].invalid && (artistForm.controls['name'].dirty || artistForm.controls['name'].touched)"
    class="alert alert-danger p-1 fs-s">
        <div *ngIf="artistForm.controls['name'].errors?.['required']">
            Name is required.
        </div>
        <div *ngIf="artistForm.controls['name'].errors?.['maxlength']">
            Name must be 255 characters long at maximum.
        </div>
    </div>

    <label for="image-url"
            class="form-label">
            Logo URL
    </label>
    <div class="input-group mb-3">
        <span class="input-group-text"
            id="basic-addon3">
            https://bit.ly/ 
        </span>
        <input type="text"
            class="form-control" 
            id="image-url" 
            aria-describedby="basic-addon3"
            formControlName="imageUrl">
    </div>

    <!-- imageUrl validation -->
    <div *ngIf="artistForm.controls['imageUrl'].invalid && (artistForm.controls['imageUrl'].dirty || artistForm.controls['imageUrl'].touched)"
    class="alert alert-danger p-1 fs-s">
        <div *ngIf="artistForm.controls['imageUrl'].errors?.['pattern']">
            Link should not contain spaces nor special characters.
        </div>
        <div *ngIf="artistForm.controls['imageUrl'].errors?.['maxlength']">
            Link must be 255 characters long at maximum.
        </div>
    </div>
    <div *ngIf="artistForm.controls['imageUrl'].touched">
        <div class="alert alert-primary p-1 fs-s" role="alert">
            Host freely your picture on <a href="https://bitly.com" class="alert-link" target="_blank">bitly</a>.
            <br>Paste the characters following the slash in the above field.
        </div>
    </div>

    <button type="submit"
            class="btn btn-outline-primary"
            [disabled]="artistForm.pristine || artistForm.invalid">Add a new artist</button>

</form>