<ng-template #loading>
    <div>
        <p>Loading...</p>
    </div>
</ng-template>

<div *ngIf="tracks && album; else loading">
    <div class="container d-flex justify-content-center align-items-center pt-5 pb-5">
        <h2>{{ album.name }}</h2>
    </div>    
    <div class="container-sm d-flex justify-content-center flex-column">
        <ul class="list-group">
            <li *ngIf="authService.userRoles?.includes('ROLE_ADMIN')" class="track-banner list-group-item d-flex justify-content-center align-items-center"
                (click)="onClick()">
                <span class="me-3 mb-2 fs-1">+</span>
                Add a new song
            </li>
            <app-track-banner *ngFor="let track of tracks"
                            [track]="track">
            </app-track-banner>
        </ul>
    </div>
</div>