<div class="container-sm" style="max-width: 550px;">
    <form class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

        <label for="input-username" class="sr-only">Username</label>
        <input type="text" id="input-username" class="form-control" placeholder="Username" required autofocus>

        <label for="input-password" class="sr-only">Password</label>
        <input type="password" id="input-password" class="form-control" placeholder="Password" required>
        
        <button class="btn btn-outline-primary" type="submit">Sign in</button>
        <button class="btn btn-outline-success" type="submit">Sign up</button>
    </form>
</div>
