<ng-template #loading>
    <div>
        <p>Loading...</p>
    </div>
</ng-template>

<div *ngIf="track; else loading">
    <div class="container d-flex justify-content-center align-items-center pt-5 pb-5">
        <h2>{{ track.name }}</h2>
    </div>    
    <div>
        <ul class="grid-2-columns container-sm">
            <li class="d-flex justify-content-between align-items-center">Title: {{ track.name }}</li>
            <li class="d-flex justify-content-between align-items-center">Length: {{ track.lengthInSeconds }}</li>
            <li class="d-flex justify-content-between align-items-center">Artist: {{ track.artistName }}</li>
            <li class="d-flex justify-content-between align-items-center">Likes: {{ track.numberOfLikes }}</li>
            <li class="d-flex">Album: {{ track.albumName }}</li>
            <li class="d-flex">
                Genre:
                <ul>
                    <li *ngFor="let genre of track.albumGenres">{{ genre }}  </li>
                </ul>
            </li>
        </ul>
        <div class="container-custom">
            <a target="_blank" href="https://www.youtube.com/watch?v=eJnQBXmZ7Ek">
                <div class="youtube-frame" (mouseenter)="onHover()" (mouseleave)="onHover()">
                    <img class="logo" src="assets/logo/logo_small_icon_only_inverted.png" alt="Logo Songs." />
                    <button [ngClass]="{'youtube-button': true, 
                                        'youtube-button--black': !isHovered && isInitialized, 
                                        'youtube-button--purple': isHovered}">
                        <div class="youtube-triangle"></div>
                    </button>
                </div>
            </a>
        </div>
    </div>
</div>