<ng-template #loading>
    <div>
        <p>Loading...</p>
    </div>
</ng-template>

<div *ngIf="artists; else loading">

    <div class="m-5 d-flex justify-content-center flex-row flex-wrap">
        <div *ngIf="authService.userRoles?.includes('ROLE_ADMIN')" class="card m-1 card-form" style="width: 18rem;" (click)="onClick()">
            <img src="assets/add-artist-cross.svg" class="card-img-top" alt="Card to add a new artist">
            <div class="card-body">
                <h5 class="card-title">New feature!</h5>
                <p class="card-text">Can't find your favorite artist?<br>Click here to add it to our database by using the provided form.</p>
                <button routerLink="/artist/add" class="btn btn-outline-primary">Add an artist</button>
            </div>
        </div>
        <app-artist-card *ngFor="let artist of artists" 
                        [artist]="artist"></app-artist-card>
    </div>
</div>