<header>
    <div class="title">
        <a routerLink=""><img src="/assets/logo/logo_small.png" alt="App logo"></a>
    </div>
    <nav>
        <div class="forms">
            <form>
                <input placeholder="Search">
            </form>
            <form>
                <select>
                    <option value="" disabled selected>Search by</option>
                    <option value="artist">Artist</option>
                    <option value="album">Album</option>
                    <option value="track">Track</option>
                </select>
            </form>
        </div>
        <ul class="navbar-custom">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Playlists</a>
            </li>
        </ul>
    </nav>
</header>