<!-- <header> -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <div class="title">
                    <a routerLink=""><img src="/assets/logo/logo_small.png" alt="App logo"></a>
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="d-flex ms-auto">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
                <select class="form-select ms-auto" style="width: 150px;">
                    <option value="" disabled selected>Filter by</option>
                    <option value="artist">Artist</option>
                    <option value="album">Album</option>
                    <option value="track">Track</option>
                </select>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item ms-auto me-5">
                        <a class="nav-link" aria-current="page" routerLink="">Home</a>
                    </li>
                    <li class="nav-item ms-auto me-5">
                        <a class="nav-link" href="#">Playlists</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<!-- </header> -->