@import "~bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    // box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: darkblue;
}

li {
    list-style-type: none;
}

.card:hover {
    filter: brightness(70%);
    cursor: pointer;
}

.track-banner:hover {
    filter: brightness(90%);
    cursor: pointer;
}