@import "~bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: darkblue;
}

li {
    list-style-type: none;
}

.card-data button {
    filter: brightness(130%);
}

.card-img-data:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.card-data:hover {
    filter: brightness(90%);
}

.track-banner:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.btn-outline-danger.btn-reversed {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
    &:hover {
        background-color: white;
        color: #dc3545;
    }
}